*{
  margin: 0;
}

.header__logo{
  object-fit: contain;
  margin-left: 2%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f7f3f8;
}
.post{
  max-width: 500px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding-bottom: 20px;
  
}
.post-image{
  object-fit: contain;
  width: 100%;
}
.post__caption__username{
  font-weight: bold;
}

.post__caption__text{
  font-weight: lighter;
  margin: 10px;
}
.post-header{
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.post__header__username{
margin: 5px;
}

.post__caption{
  padding: 2%;
}

.form{
  display: flex;
  flex-direction: column;
  
}

.form__group{
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 2px;
}

.form__input{
  padding: 2px;
  
}